<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795332954230-ipl02anlf7lm6g45rvmalh7vk1lk5792.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795332954230-ipl02anlf7lm6g45rvmalh7vk1lk5792</string>
	<key>API_KEY</key>
	<string>AIzaSyDtMp8tOZl0_evxGfiW8IRwAsqlL_wmKYM</string>
	<key>GCM_SENDER_ID</key>
	<string>795332954230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zipdevPoke</string>
	<key>PROJECT_ID</key>
	<string>zipdev-4ebab</string>
	<key>STORAGE_BUCKET</key>
	<string>zipdev-4ebab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795332954230:ios:85cf0511498dd16dd87757</string>
	<key>DATABASE_URL</key>
	<string>https://zipdev-4ebab.firebaseio.com</string>
</dict>
</plist>